#mch__selector ol{
	padding: 0;
	margin: 0;
}
#mch__selector ol li {
	float: left;
	width: 31%;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0;
	margin-right: 2%;
	margin-top: 10px;
	list-style: none;
}

#mch__selector ol li a{
	padding: 20px;
	color: #333;
	text-decoration: none;	
	display: block;
}
#mch__selector ol li a h4{
	margin: 0;
}

/* delete handling move on sortable */
.js .postbox.mch .hndle{
	cursor: auto;
}

.mch__editeur--container{
	padding: 10px 0;
}

.mch__image--container{
	width: 99%;
	margin: 20px 0;
	text-align: center;
	border: 4px dotted #ECECEC;
	padding: 20px 0;
	border-radius: 9px;
}

.mch-first{
	margin-top: 20px;
}
