#story__selector ol{
	padding: 0;
	margin: 0;
}
#story__selector ol li {
	list-style: none;
}
#story__selector ol li p{
	display: none;
}

#story__selector ol li a{
	color: #333;
	text-decoration: none;	
	display: block;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	background: #fff;
	padding: 1em;
}
#story__selector ol li a h4{
	margin: 0;
}

/* delete handling move on sortable */
.js .postbox.story .hndle{
	cursor: auto;
}

.story__element{
	padding: 10px 0;
}

.story__element__image{
	width: 99%;
	margin: 10px 0;
	text-align: center;
	border: 4px dotted #ECECEC;
	padding: 20px 0;
	border-radius: 9px;
}

.story-first{
	margin-top: 20px;
}

.story__element .story__imageRemover{
	display: none;
}
.story__element .story__imageRemover.show{
	display: inline;
}
.story__element .upload_image_button.hide{
	display: none;
}

/* Remove Element */
.story__remove__element{
	float: right;
}
.story__remove__element .remover a{
	color: #a00;
}
.story__remove__element .confirm{
	display: none;
}
.story__remove__element .confirm .delete{
	color: #a00;
	padding: 0 10px;
}